In [37]:
import pandas as pd

def load_csv(path:str, sep:str=';') -> pd.DataFrame:
    return pd.read_csv(f"../../{path}", sep=sep)

In [38]:
df_foreigner = load_csv('data/raw/Anzahl_Ausländer_nach_Staatsangehörigkeit.csv')
df_religion = load_csv('data/processed/religion_population_distribution.csv')
df_countries = load_csv('data/raw/countries.csv', sep=',')

In [39]:
df_foreigner = df_foreigner.rename(columns={'Anzahl': 'foreigners', 'Country': 'country', 'Land': 'country_de'})
df_foreigner

      country_de  foreigners                         country
0         Türkei     1544480                          Turkey
1        Ukraine     1334005                         Ukraine
2         Syrien      975060                           Syria
3       Rumänien      909755                         Romania
4          Polen      864980                          Poland
..           ...         ...                             ...
180        Tonga          30                           Tonga
181  Timor-Leste          20                     Timor-Leste
182    Salomonen          10                 Solomon Islands
183      Vanuatu          10                         Vanuatu
184  Mikronesien           5  Federated States of Micronesia

[185 rows x 3 columns]

In [40]:
df_countries = df_countries.rename(columns={'name': 'country', 'alpha-2': 'country_code_alpha2', 'country_code': 'country_code_numeric'})
df_countries = df_countries.drop(columns=['alpha-3', 'iso_3166-2', 'intermediate-region', 'region-code', 'sub-region-code', 'intermediate-region-code'])
df_countries

,country,country_code_alpha2,country-code,region,sub-region
0,Afghanistan,AF,4,Asia,Southern Asia
1,Åland Islands,AX,248,Europe,Northern Europe
2,Albania,AL,8,Europe,Southern Europe
3,Algeria,DZ,12,Africa,Northern Africa
4,American Samoa,AS,16,Oceania,Polynesia
...,...,...,...,...,...
245,Wallis and Futuna,WF,876,Oceania,Polynesia
246,Western Sahara,EH,732,Africa,Northern Africa
247,Yemen,YE,887,Asia,Western Asia
248,Zambia,ZM,894,Africa,Sub-Saharan Africa
249,Zimbabwe,ZW,716,Africa,Sub-Saharan Africa

In [41]:
df_religion = df_religion.rename(columns={'Country': 'country', 'Region': 'region', 'Population': 'population'})
df_religion = df_religion.drop(columns=['Year', 'Level', 'Countrycode'])
df_religion

,region,country,population,Christians,Muslims,Religiously_unaffiliated,Buddhists,Hindus,Jews,Other_religions
0,Asia-Pacific,Afghanistan,"39,068,979","7,571","39,015,051","3,304","7,814",50,10,"35,179"
1,Europe,Albania,"2,871,954","511,657","2,139,813","219,787",5,20,289,382
2,Middle East-North Africa,Algeria,"44,042,091","129,920","43,329,641","557,664","6,607",0,57,"18,202"
3,Sub-Saharan Africa,Angola,"33,451,133","31,124,508","85,520","2,045,473",801,"3,102",400,"191,330"
4,Latin America-Caribbean,Argentina,"45,191,965","39,974,074","419,922","4,172,533","14,038","1,163","173,979","436,255"
...,...,...,...,...,...,...,...,...,...,...
181,Latin America-Caribbean,Venezuela,"28,444,078","25,063,617","13,957","2,766,969","6,070",0,"4,992","588,472"
182,Asia-Pacific,Vietnam,"98,079,191","8,170,016","70,694","66,373,765","22,578,634","40,495",125,"845,463"
183,Middle East-North Africa,Yemen,"36,134,864","20,138","36,085,366","22,243",197,"2,798",73,"4,047"
184,Sub-Saharan Africa,Zambia,"19,059,395","18,731,646","97,449","11,389",363,"3,061",191,"215,296"
185,Sub-Saharan Africa,Zimbabwe,"15,526,889","13,539,476","82,154","1,636,517","5,777","5,918",198,"256,850"

In [42]:


df_merged = df_religion.merge(df_countries, on='country', how='left') \
                       .merge(df_foreigner, on='country', how='left')

df_merged

,region_x,country,population,Christians,Muslims,Religiously_unaffiliated,Buddhists,Hindus,Jews,Other_religions,country_code_alpha2,country-code,region_y,sub-region,country_de,foreigners
0,Asia-Pacific,Afghanistan,"39,068,979","7,571","39,015,051","3,304","7,814",50,10,"35,179",AF,4,Asia,Southern Asia,Afghanistan,442020.0
1,Europe,Albania,"2,871,954","511,657","2,139,813","219,787",5,20,289,382,AL,8,Europe,Southern Europe,Albanien,125445.0
2,Middle East-North Africa,Algeria,"44,042,091","129,920","43,329,641","557,664","6,607",0,57,"18,202",DZ,12,Africa,Northern Africa,Algerien,25860.0
3,Sub-Saharan Africa,Angola,"33,451,133","31,124,508","85,520","2,045,473",801,"3,102",400,"191,330",AO,24,Africa,Sub-Saharan Africa,Angola,6665.0
4,Latin America-Caribbean,Argentina,"45,191,965","39,974,074","419,922","4,172,533","14,038","1,163","173,979","436,255",AR,32,Americas,Latin America and the Caribbean,Argentinien,10100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Latin America-Caribbean,Venezuela,"28,444,078","25,063,617","13,957","2,766,969","6,070",0,"4,992","588,472",VE,862,Americas,Latin America and the Caribbean,Venezuela,17090.0
182,Asia-Pacific,Vietnam,"98,079,191","8,170,016","70,694","66,373,765","22,578,634","40,495",125,"845,463",VN,704,Asia,South-eastern Asia,Vietnam,137560.0
183,Middle East-North Africa,Yemen,"36,134,864","20,138","36,085,366","22,243",197,"2,798",73,"4,047",YE,887,Asia,Western Asia,Jemen,12980.0
184,Sub-Saharan Africa,Zambia,"19,059,395","18,731,646","97,449","11,389",363,"3,061",191,"215,296",ZM,894,Africa,Sub-Saharan Africa,Sambia,830.0
185,Sub-Saharan Africa,Zimbabwe,"15,526,889","13,539,476","82,154","1,636,517","5,777","5,918",198,"256,850",ZW,716,Africa,Sub-Saharan Africa,Simbabwe,4630.0

In [43]:
# Zeige alle Zeilen, in denen der country_code_numeric nicht gesetzt ist (NaN)
df_merged[df_merged['country-code'].isna()]

Empty DataFrame
Columns: [region_x, country, population, Christians, Muslims, Religiously_unaffiliated, Buddhists, Hindus, Jews, Other_religions, country_code_alpha2, country-code, region_y, sub-region, country_de, foreigners]
Index: []

In [46]:
df_merged.to_csv('../../data/processed/countries_religion_foreigner.csv', index=False, sep=';')