In [2]:
import pandas as pd

def load_csv(path:str, sep:str=';') -> pd.DataFrame:
    return pd.read_csv(f"../../{path}", sep=sep)

In [10]:
df_foreigner = load_csv('data/raw/Anzahl_Ausländer_nach_Staatsangehörigkeit.csv')
df_religion = load_csv('data/raw/Religious Composition 2010-2020.csv', sep=',')
df_countries = load_csv('data/raw/countries.csv', sep=',')

In [11]:
df_foreigner

            Land   Anzahl                         Country
0         Türkei  1544480                          Turkey
1        Ukraine  1334005                         Ukraine
2         Syrien   975060                           Syria
3       Rumänien   909755                         Romania
4          Polen   864980                          Poland
..           ...      ...                             ...
180        Tonga       30                           Tonga
181  Timor-Leste       20                     Timor-Leste
182    Salomonen       10                 Solomon Islands
183      Vanuatu       10                         Vanuatu
184  Mikronesien        5  Federated States of Micronesia

[185 rows x 3 columns]

In [12]:
df_countries

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [13]:
df_religion

,Region,Country,Year,Population,Christians,Muslims,Religiously_unaffiliated,Buddhists,Hindus,Jews,Other_religions,Level,Countrycode
0,World,All World,2010,"7,020,588,096","2,147,229,418","1,675,799,697","1,635,247,024","342,747,232","1,051,543,332","13,913,864","154,107,528",3,900
1,World,All World,2020,"7,885,807,101","2,268,860,679","2,022,590,461","1,905,359,982","324,185,581","1,177,861,089","14,779,638","172,169,677",3,900
2,Asia-Pacific,All Asia-Pacific,2010,"4,128,253,668","253,421,219","1,022,290,072","1,363,120,346","336,315,490","1,043,564,086","181,429","109,361,020",2,90001
3,Asia-Pacific,All Asia-Pacific,2020,"4,544,798,237","268,839,155","1,187,663,747","1,492,753,842","316,111,123","1,166,709,664","185,058","112,535,650",2,90001
4,Europe,All Europe,2010,"741,696,840","553,631,592","39,278,971","138,737,705","2,011,820","1,652,525","1,388,749","4,995,478",2,90002
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,Middle East-North Africa,Yemen,2020,"36,134,864","20,138","36,085,366","22,243",197,"2,798",73,"4,047",1,887
412,Sub-Saharan Africa,Zambia,2010,"13,965,594","13,642,001","70,598","11,088",304,"2,542",172,"238,890",1,894
413,Sub-Saharan Africa,Zambia,2020,"19,059,395","18,731,646","97,449","11,389",363,"3,061",191,"215,296",1,894
414,Sub-Saharan Africa,Zimbabwe,2010,"13,356,548","11,278,972","67,145","1,667,285","5,805","6,528",416,"330,397",1,716
415,Sub-Saharan Africa,Zimbabwe,2020,"15,526,889","13,539,476","82,154","1,636,517","5,777","5,918",198,"256,850",1,716